.body {
  background-color: gray;
  margin: 0px;
  padding: 0px;
}

.toggle-button {
  position: relative;
  top: 20px;
  left: calc(100% - 80px);
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 50vw;
  background-color: darkgray;
  transition: margin-left 0.5s;
  overflow: auto;
}

.sidebar-collapse {
  position: fixed;
  margin-left: -43vw;
  transition: margin-left 0.5s;
}

.content {
  background-color: black;
}

.center-iframe {
  width: 100%;
  height: 98vh;
  padding-left: 7vw;
}

.form-group {
  margin: 10px;
}

/* Style for modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 60%;
  overflow-y: auto;
}
